// VARIABLES

$grey-lighter: hsl(0, 0%, 86%);
$spc-xs: 0.25rem;
$spc-s: 0.5rem;
$spc-m: 1rem;
$spc-l: 1.5rem;

// HELPER CLASSES

.is-fullwidth {
  width: 100%;
}

.light-border--bottom {
  border-bottom: 1px solid $grey-lighter;
}

.margin-s--vertical {
  margin-top: $spc-s;
  margin-bottom: $spc-s;
}

.margin-m--vertical {
  margin-top: $spc-m;
  margin-bottom: $spc-m;
}

.padding-l--bottom {
  padding-bottom: $spc-l;
}

// BUCKETS
.bucket-container {
  position: relative;
}

.bucket-container:last-child {
  border-bottom: none;
}

.bucket-body {
  padding-top: 1rem;
  padding-bottom: 0;
}

.bucket-holder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 3rem;
}

.add-bucket {
  position: absolute;
  bottom: $spc-xs;
  right: $spc-xs;
}

.remove-bucket {
  position: absolute;
  top: $spc-xs;
  right: $spc-xs;
}

// additional margin when issue is in bucket
.bucket-holder {
  .issue-box {
    margin: 0.5rem;
  }
}
